form{
    width: 100%;
    justify-content: left;
    text-align: left;
    padding-left: 30px;
}

input[type="text"]{
    border: none;
    border-bottom: 5px solid #92D050;
    border-radius: 10px;

    background-color: #282c34;
    color: white;
    
    width: 50%;
    font-size: 20px;
    padding: 5px 15px;
    outline: 0;
    margin: 10px;
    cursor: pointer;
    transition: ease background-color 250ms;

    &:disabled {
        cursor: default;
        border-color: #669b2d;
        background-color: #202225;
        opacity: 0.7;
    }
}

.textarea{
    border: 3px solid #92D050;
    border-radius: 10px;

    background-color: #282c34;
    color: white;

    
    width: 60%;
    max-width: 90%;
    font-size: 20px;
    padding: 5px 15px;
    outline: 0;
    margin: 10px;
    cursor: pointer;
    transition: ease background-color 250ms;

    &:disabled {
        cursor: default;
        border-color: #669b2d;
        background-color: #202225;
        opacity: 0.7;
    }
}