.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.basicButton{
    background-color: #92D050;
    color: white;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 2px #669b2d;
    transition: ease background-color 250ms;

    &:hover:enabled {
        background-color: #669b2d;
    }
    &:disabled {
        cursor: default;
        opacity: 0.7;
    }
}